body
{
 background-color: #7C7C7C;
}
#superior {
  margin-top:-5px;
  margin-left: 80px;
  background-color:#EE0808;
  width:90%;
  height:80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contenido{
 width:1100px;
 height:auto;
 background-color: #ff0000;
 margin-left: 140px;
}
#contenido h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:20px;
        text-align:center;
        color: whitesmoke;
    }